/* 全局样式调整 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #414a60;
}
/* ul */
ul{
    list-style: none;
}

/* el-input */
.el-input-group__append{
    border-color: #5dd5c8;
}
.el-input__inner:focus{
    border-color: #5dd5c8;
}

/* el-button */
.el-button{
    padding: 0;
    color: #fff;
}
.el-button--default{
    color: #ffffff;
    border-color: #00d7c6;
    background: transparent;
}
.el-button--text{
    color: #00c2b3;
}
.el-button--text:hover,
.el-button--text:focus{
    color: #00d7c6;
}
.el-button--text:active{
    color: #1abc9c;
}
.el-button--primary{
    color: #ffffff;
    border-color: #5dd5c8;
    background: #5dd5c8;
}

.el-button--default.is-round:hover,
.el-button--default.is-round:focus{
    color: #00d7c6;
    border-color: #00d7c6;
    background: transparent;
}
.el-button--default.is-round:active{
    opacity: .8;
}

.el-button + .el-button{
    margin-left: 20px;
}

/* el-link */
.el-link.el-link--default{
    color: #fff;
    vertical-align: top;
    transition: color .5s;
}
.el-link.el-link--default:hover{
    color: #5dd5c8;
}
.el-link.el-link--default:active{
    color: #00c2b3;
}
.el-link::after{
    display: none;
}
.el-link + .el-link{
    margin-left: 20px;
}
